# This service is for making backups of the database

[Unit]
Description=upsdata database backup service
After=network-online.target
Wants=network-online.target
Wants=upsdiag.backupdb.timer


[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/upsdiagd/bin/bakrecdb.sh --backup

