[Unit]
Description=uWSGI instance to serve fles app
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/upsdiagd/bin/
Environment="PATH=/home/pi/upsdiagd/bin/"
#ExecStart=/home/pi/.local/bin/uwsgi --ini fles.ini
ExecStart=/home/pi/.local/bin/uwsgi --socket 0.0.0.0:5000 --protocol=http --processes=1 -w wsgi:app

[Install]
WantedBy=multi-user.target
