# This timer is for triggering the trending of past day(s) data

[Unit]
Description=hourly trending UPS data from past hours (timer)

[Timer]
OnCalendar=*-*-* *:06
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
