# This service is for trending data from the past days

[Unit]
Description=trending UPS data from past days (service)
Wants=upsdiag.trend.day.timer

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/upsdiagd/bin/pastday.sh -

# [Install]
# WantedBy=multi-user.target
